# OS
.DS_STORE
#  terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
secrets.auto.tfvars
# editors
.vscode/
.idea
*.iml

.structurizr
docs/architecture/dsl/**/workspace.json

/scripts/uid_tester/uid-tester
/scripts/lambda/lambda.zip
