# Terraform
export TF_WORKSPACE=sp-2792
export TF_VAR_default_role=operator
export TF_VAR_management_role=operator
export TF_CLI_ARGS_init="-backend-config=\"assume_role={role_arn=\\\"arn:aws:iam::311462405659:role/operator\\\"}\""
export TF_VAR_version_tag="1.29.0"
