name: Pact Provider Verification

on:
  repository_dispatch:
    types: [provider-verification]
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  test:
    name: Provider verification
    runs-on: ubuntu-latest
    env:
      BUILDX_NO_DEFAULT_ATTESTATIONS: 1
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: 1.12.2
          terraform_wrapper: false
      - run: make build up
      - name: Verify specified Pact
        if: ${{ github.event_name == 'repository_dispatch' }}
        run: |
          docker compose run --rm pact-verifier \
            --provider-version=$(git rev-parse HEAD) \
            --provider-branch=main \
            --publish \
            --user=admin \
            --password=${{ secrets.PACT_BROKER_PASSWORD }} \
            --url=${{ github.event.client_payload.pact_url }}
      - name: Verify pacts, including pending
        if: ${{ github.event_name == 'push' }}
        run: |
          docker compose run --rm pact-verifier \
            --provider-version=$(git rev-parse HEAD) \
            --provider-branch=main \
            --publish \
            --user=admin \
            --password=${{ secrets.PACT_BROKER_PASSWORD }} \
            --consumer-version-selectors='{"mainBranch": true}' \
            --enable-pending
      - name: Verify pacts are still upheld
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          docker compose run --rm pact-verifier \
            --provider-version=$(git rev-parse HEAD) \
            --provider-branch=${{ github.head_ref }} \
            --consumer-version-selectors='{"mainBranch": true}'
